@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-white: #fbfbfb;
  --text-dark: #343434;
  --text-white: #fff;
}

body {
  font-family: "Halant", serif;
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--text-dark);
  line-height: 1.5;
  display: flex;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
  animation: slidein 0.6s ease-out;
}

p {
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  animation: slidein calc(var(--order) * 0.1s) ease;
}

@keyframes slidein {
  from {
    transform: translateY(50%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes beat {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.5);
  }
}
/* Reset */

.sidebar {
  position: sticky;
  box-sizing: border-box;
  top: 0;
  left: 0;
  order: -1;
  background: var(--bg-white);
  width: 20vw;
  height: 100vh;
  padding: 1.25rem;
}

.sidebar > hr {
  border: 1px solid var(--text-dark);
}

.brand {
  font-size: 2rem;
}

.brand-name {
  font-weight: 700;
}

.sidebar-nav {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1.25rem;
  height: auto;
}

.nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.nav > li > a {
  display: block;
  cursor: pointer;
  line-height: 1.2;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
  text-decoration: none;
  color: var(--text-dark);
  animation: slidein 0.6s ease-out;
  transition: background 0.2s ease, font-weight 0.1s ease-out;
}

.nav > li > a:hover {
  background: #bebebe;
}

.selected {
  background: #bebebe;
  font-weight: 600 !important;
}

/* Sidebar Footer */
footer {
  height: 10vh;
  position: absolute;
  bottom: 0;
}

.heart {
  color: red;
}

.heart:hover {
  animation: beat 0.5s ease 0.2s infinite alternate;
}

/* Sidebar */

main {
  float: right;
  width: 960px;
  margin: 0 2rem;
  padding: 2rem;
}

main > article > h1 {
  text-align: center;
}
