@import url("https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-white: #fbfbfb;
  --text-dark: #343434;
  --text-white: #fff;
}

body {
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  color: var(--text-dark);
  line-height: 1.5;
  display: flex;
  overflow: visible;
}

h1 {
  font-family: "Halant", serif;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  animation: slidein 0.4s ease-out;
}

p {
  font-size: 1rem;
  animation: slidein calc(var(--order) * 0.1s) ease;
}

@keyframes slidein {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes beat {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.5);
  }
}

/* Reset */

.header {
  display: none;
  position: sticky;
  top: 0;
  background: var(--bg-white);
  padding: 1.25rem;
}

.open-btn {
  padding: 0.8rem;
  border-radius: 0.25rem;
  background: none;
  border: 0;
  font-size: 1.2rem;
}

.header-brand {
  margin-left: 0.8rem;
  font-size: 2rem;
  text-align: center;
}

/* Header */

.sidebar {
  position: sticky;
  box-sizing: border-box;
  left: 0;
  top: 0;
  bottom: 0;
  order: -1;
  background: var(--bg-white);
  width: 25vw;
  padding: 1.25rem;
}

.close-btn {
  display: none;
  position: absolute;
  border: 0;
  background: none;
  padding: 0.8rem;
  font-size: 1.25rem;
  float: left;
}

.icon {
  width: 40px;
  height: 40px;
}

.sidebar hr {
  border: 1px solid var(--text-dark);
}

.brand {
  font-size: 2rem;
  text-align: center;
}

.icon {
  transform: translateY(5px);
}

.brand-name {
  font-weight: 700;
  font-family: "Halant", serif;
}

.sidebar-nav {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1rem;
  height: auto;
}

.nav {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.nav > li > a {
  display: block;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
  text-decoration: none;
  color: var(--text-dark);
  animation: slidein 0.6s ease-out;
  transition: background 0.2s ease, font-weight 0.1 s ease-out;
}

.nav > li > a:hover {
  background: #bebebe;
}

.selected {
  background: #bebebe;
  font-weight: 700 !important;
}

/* Sidebar Footer */
footer {
  text-align: center;
}

.heart {
  color: red;
}

.heart:hover {
  animation: beat 0.5s ease 0.2s infinite alternate;
}

/* Sidebar */

main {
  width: 960px;
  margin: 0 2rem;
  padding: 2rem;
}

main > article > h1 {
  text-align: center;
}

/* main */

@media only screen and (max-width: 1024px) {
  .brand {
    font-size: 1.5rem;
  }

  main {
    width: 80vw;
    margin: 0 2rem;
    box-sizing: border-box;
    font-size: 0.9rem;
  }

  .sidebar {
    width: 30vw;
  }
}

@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
    font-size: 0.8rem;
  }

  .icon {
    width: 30px;
    height: 30px;
  }

  .sidebar-nav {
    height: 70vh;
  }

  h1 {
    font-size: 1.25rem;
  }

  main {
    width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1rem;
  }

  .header {
    display: flex;
  }

  .sidebar {
    display: none;
  }

  .mobile-only {
    display: block !important;
    position: fixed !important;
    width: 100vw;
    height: 100vh;
    animation: in 0.6s ease;
  }

  .close-btn {
    display: inline-block;
  }

  @keyframes in {
    from {
      transform: translateX(-100%);
    }

    to {
      transform: translateX(0%);
    }
  }

  @keyframes out {
    from {
      opacity: 1;
      transform: translateX(0%);
    }

    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
}
